.ticketG {
    animation: transitionIn 3s;
    width: 100%;
    height: 1000px;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transition: rotateX(-10deg);
    }

    to {
        opacity: 8;
        transition: rotateX(3);
    }
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#topcardrightdesign img {
    position: absolute;
    right: 7px;
    top: 40px;
    transform: translate(-15%, -25px);
    height: 90px;
}

input {
    border: 2px solid #ccc;
    padding: 12px;
    transition: all 0.5s ease-in-out;
}

input:focus {
    border: 2px solid #007bff;
    outline: none;
    background-color: #f0f8ff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

input:hover {
    border-color: #ff6600;
    background-color: #f9f9f9;
}

button:hover {
    border-color: #b1061a;
    background-color: #f9f9f9;
    transform: scale(1.03);
}

p {
    text-align: center;
}

h2 {
    text-align: center;
}

.centerupload {
    margin-left: auto;
    margin-right: auto;
    width: 13%;
    height: 60px;
    display: block;
}

.avatar-input {
    width: 100%;
    height: auto;

}

#uploadconntainer {
    background-color: transparent;
    border-radius: 10px;
    border-style: dashed;
    text-align: center;
    height: 170px;
    align-items: center;
    width: 100%;
    margin: auto;
    margin-left: -15px;
    display: block;
    justify-content: center;
}

.paragraph {
    white-space: nowrap;
    font-size: 100%;
    text-align: center;
    margin-top: auto;
}

.infoimage {
    display: block;
    margin-left: auto;
    margin-top: 10px;
    bottom: -3px;
}

#uploadconntainer img {
    margin-top: 25px;
    margin-bottom: 20px;
    height: 70px;
    width: 70px;
    background-color: transparent;
    box-shadow: transparent;
    border-radius: 14px;
    opacity: 0.8;
    border-color: #fff;
    border-style: ridge;
}

.hide {
    display: none;
}

#submitlogodesign img {
    position: absolute;
    margin-top: -50px;
    transform: translate(-15%, -25px);
    width: 260px;
    height: 140px;
    z-index: -1;
}

.submittion {
    position: fixed;
    display: flex;
    width: 100%;
    height: auto;
    position: relative;
    opacity: 100px;
    margin-left: 40px;
}

.submittion img {
    width: 100%;
    left: 900px;
    right: 30px;
}

#preview {
    position: absolute;
    display: block;
    margin-left: 160px;
    width: 70px;
    height: 70px;
    border-radius: 14px;
    background-color: transparent;
    margin-top: 43px;
    z-index: 1;
    object-fit: cover;
}

.ticketG-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.toplogo h6 {
    position: absolute;
    left: -70px;
    top: 29%;
    color: white;
    transform: translate(30%, -130%);
    font-size: 12px;
    letter-spacing: 3px;
    font-family: ' sans-serif';
}

.toplogo img {
    position: absolute;
    left: 105px;
    top: 20%;
    transform: translate(-50%, -50%);
    width: 45%;
}

.toplogo2 p {
    /* the ticket top contenet  of the below content*/
    position: absolute;
    left: 41%;
    top: 73%;
    color: white;
    transform: translate(-50%, -50%);
    font-size: 11px;
    letter-spacing: 3px;
}

.toplogo2 img {
    /* the ticket top logo  of the below content*/
    position: absolute;
    left: 12%;
    top: 75%;
    transform: translate(-50%, -50%);
    width: 11%;
    border-radius: 7px;
}

.toplogousername {
    /* the ticket top contenet  of the below content*/
    position: absolute;
    left: 166px;
    top: 70%;
    color: white;
    transform: translate(-50%, -50%);
    font-size: 12px;
    letter-spacing: 1px;
}

.toplogousername img {
    position: absolute;
    top: 89%;
    transform: translate(-50%, -50%);
    width: 11%;
}

.topdesignlogo img {
    position: relative;
    left: 66%;
    top: 3%;
    margin-top: 130px;
    transform: translate(2%, -1000px);
    width: 40%;
}

.rotate {
    rotate: 90deg;
    margin-left: 80px;
    margin-top: -41px;
    transform: translate(54px, -155px);
    font-size: 23px;
    font-family: 'Times New Roman', serif;
    color: #fff;
    opacity: 0.3;
    filter: blur(0.2);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

#backgroundCarddesign img {
    padding-top: 120px;
    bottom: 70px;
    width: 80%;
    /* padding-right: 60%; */
    right: 10px;
}

#backgroundPattern {
    position: fixed;
    top: 0;
    padding: 0;
    object-fit: cover;
    margin: 0;
    width: 100%;
}

@media (max-width: 768px) {
    #backgroundPattern {
        max-width: 100px;
    }
}

/* above is the ticket styling implementation */
label {
    display: block;
    width: 200px;
    background: none;
    color: #fff;
    padding: 12px;
    margin: 10px auto;
    border-radius: 6px;
    cursor: pointer;
}

.uploadimage {
    display: none;
}

/* the above is for the uploading of the image and above info of the page  */

.formview {
    color: white;
}

.formview input {
    position: relative;
    box-sizing: border-box;
    height: 40px;
    border-radius: 12px;
    width: 100%;
    background-image: url(assets/images/background-mobile.png);
    color: white
}

.formview button {
    background-color: pink;
    padding: 16px 32px;
    box-sizing: border-box;
    width: 100%;
    border-radius: 12px;
}

h2 span {
    color: palevioletred;
}

.submittion {
    display: flex;
    justify-content: center;
    align-items: center;
}

h6 {
    text-indent: 60px;
    size-adjust: 90px;
    padding-top: 0;
}

.State-error {
    text-align: center;
}

.hidden {
    display: none;
}

.date {
    font-family: 'Times New Roman', serif;
    color: #444;
    opacity: 0.5;
    filter: blur(0.1);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    margin-left: -6px;
}

#gitshow {
    font-family: 'Times New Roman', serif;
    color: #fff;
    opacity: 0.5;
    filter: blur(0.2);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    margin-left: -15px;
}

#gitt {
    position: absolute;
    margin-left: 29px;
    margin-top: 10px;
    width: 15px;
}

#nameF {
    position: relative;
    font-weight: bold;
    font-size: 10px;
    font-family: 'Inter', sans-serif;
    white-space: nowrap;
    top: -20px;
    left: 20px;
}

#pics {
    height: 42px;
    width: 45px;
    margin-left: -1030px;
    top: -20px;
    margin-top: 30px;
    background-color: transparent;
    box-shadow: transparent;
    border-radius: 9px;
    opacity: 0.8;
    border-color: #fff;
    position: absolute;
}

#buttons {
    position: absolute;
    top: 360px;
    left: 200px;
    transform: translate(-50%, -50%);
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
}
#removeBtn:hover{
    text-decoration: underline;

}
#changeBtn:hover{
    text-decoration: underline;


}

.box {
    position: relative;
    width: 300px;
    height: 40%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: blue;
    overflow: hidden;
}

.box::before {
    content: "";
    position: absolute;
    width: 180px;
    height: 140%;
    background-color: white;
    box-shadow: 0 0 20px rgb(8, 8, 8);
    animation: animate 5s linear infinite;
    z-index: -2;
}

.box::after {
    content: "";
    position: absolute;
    inset: 1px;
    background-color: rgb(250, 180, 104);
    border-radius: 19px;
    z-index: -2;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
@media (max-width:768px){
body{
    padding: 10px;
    font-size: 14px;
}
#MYFORM {
    padding: 20px;
  }
  .logo img {
    width: 80%;
    margin: 0 auto;
  }
  #topcardrightdesign img {
    position: absolute;
    right: 0;
    top: 50px;
    transform: none;
    height: 60px;
    margin: 10px auto;
  }
  h2 {
    font-size: 1.5rem;
    line-height: 1.8rem;
    text-align: center;
  }
  p {
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
  }
  #Drag {
    width: 100%;
    margin: 20px auto;
  }
  .toplogo2 img {
    /* width: 15%; */
    margin-top: 20px;
    position: relative;
  }
  button#submit {
    padding-top: 20px;
    font-size: 1rem;
  }
  .ticketG {
    padding: 20px;
    text-align: center;
    margin-left: 3px
  }
  .ticketG img {
    margin: 0 auto;
  }
  .rotate {
    font-size: 1.2rem;
    margin-top: -180px;
    margin-left: 140px;
  }
  #backgroundCarddesign img {
    margin-top: 166px
  }
  .topdesignlogo img{
/* position: relative; */
margin-top:20px;
margin-right: 302px
  }
  footer {
    background-size: cover;
    padding: 20px;
  }
 
  

}
